## Imports

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Data Preparation

In [2]:
ga_avg = pd.read_csv("../raw_soccer_files/player_ga_avg.csv")
passing = pd.read_csv("../raw_soccer_files/player_passing_data.csv")
salaries = pd.read_csv("../raw_soccer_files/player_salary_data.csv")
game_info = pd.read_csv("../raw_soccer_files/game_info.csv")
team_info = pd.read_csv("../raw_soccer_files/team_info.csv")
player_info = pd.read_csv("../raw_soccer_files/player_info.csv")

print(f"ga_avg: {ga_avg.shape}")
print(ga_avg.count())
display(ga_avg.head())
print()

print(f"passing: {passing.shape}")
print(passing.count())
display(passing.head())
print()

print(f"salaries: {salaries.shape}")
print(salaries.count())
display(salaries.head())
print()

print(f"game_info: {game_info.shape}")
print(game_info.count())
display(game_info.head())
print()

print(f"team_info: {team_info.shape}")
print(team_info.count())
display(team_info.head())
print()

print(f"player_info: {player_info.shape}")
print(player_info.count())
display(player_info.head())

ga_avg: (14503, 18)
player_id                             14503
season_name                           14503
general_position                      14503
team_id                               14503
minutes_played                        14503
goals_added_above_avg_Dribbling       14503
goals_added_above_avg_Fouling         14503
goals_added_above_avg_Interrupting    14503
goals_added_above_avg_Passing         14503
goals_added_above_avg_Receiving       14503
goals_added_above_avg_Shooting        14503
count_actions_Dribbling               14503
count_actions_Fouling                 14503
count_actions_Interrupting            14503
count_actions_Passing                 14503
count_actions_Receiving               14503
count_actions_Shooting                14503
offensive_goals_added                 14503
dtype: int64

,player_id,season_name,general_position,team_id,minutes_played,goals_added_above_avg_Dribbling,goals_added_above_avg_Fouling,goals_added_above_avg_Interrupting,goals_added_above_avg_Passing,goals_added_above_avg_Receiving,goals_added_above_avg_Shooting,count_actions_Dribbling,count_actions_Fouling,count_actions_Interrupting,count_actions_Passing,count_actions_Receiving,count_actions_Shooting,offensive_goals_added
0,0Oq60APM6D,2013,CB,0KPqjA456v,1809,0.1379,0.15160,-1.1726,-0.5952,-0.4026,-0.2029,86,22,387,515,334,0,-0.91120
1,0Oq60APM6D,2013,CM,0KPqjA456v,8,-0.0008,0.00001,-0.0013,-0.0026,-0.0037,-0.0021,0,0,2,0,0,0,-0.00919
2,0Oq60APM6D,2014,CB,0KPqjA456v,1868,-0.0374,-0.54960,0.0349,-0.0201,-0.3859,-0.2096,111,31,356,603,418,0,-1.20260
3,0Oq60APM6D,2015,CB,Vj58weDM8n,2474,-0.0264,0.17760,-1.6048,-0.0460,-0.3216,-0.1946,223,49,469,953,651,3,-0.41100
4,0Oq60APM6D,2016,CB,Vj58weDM8n,1546,0.0340,-0.17920,-0.1523,-0.1411,-0.3398,-0.1734,170,30,231,734,524,0,-0.79950

passing: (110757, 14)
player_id                              110757
game_id                                110757
team_id                                110757
general_position                       110757
minutes_played                         110757
attempted_passes                       110757
pass_completion_percentage             110757
xpass_completion_percentage            110757
passes_completed_over_expected         110757
passes_completed_over_expected_p100    110757
avg_distance_yds                       110757
avg_vertical_distance_yds              110757
share_team_touches                     110757
competition                            110757
dtype: int64

,player_id,game_id,team_id,general_position,minutes_played,attempted_passes,pass_completion_percentage,xpass_completion_percentage,passes_completed_over_expected,passes_completed_over_expected_p100,avg_distance_yds,avg_vertical_distance_yds,share_team_touches,competition
0,0Oq60APM6D,0Oq6Y1ax56,Vj58weDM8n,CB,101,37,0.8649,0.8301,1.2881,3.4812,21.7536,9.4829,0.0889,mls
1,0Oq60APM6D,0Oq6YPW756,Vj58weDM8n,FB,96,54,0.7037,0.7603,-3.0555,-5.6583,23.2053,11.4738,0.1115,mls
2,0Oq60APM6D,0x5gbdYjM7,Vj58weDM8n,FB,96,41,0.8780,0.8336,1.8213,4.4422,18.2548,2.3546,0.0748,mls
3,0Oq60APM6D,0x5gk42R57,0KPqjA456v,CB,95,60,0.8000,0.8181,-1.0877,-1.8128,26.3321,14.4037,0.1106,mls
4,0Oq60APM6D,0x5gLxnPq7,0KPqjA456v,CB,95,31,0.6774,0.7482,-2.1930,-7.0742,25.1257,14.7807,0.0801,mls

salaries: (13278, 8)
player_id                  13278
team_id                    13153
season_name                13278
position                   13258
base_salary                13278
guaranteed_compensation    13278
mlspa_release              13278
competition                13278
dtype: int64

,player_id,team_id,season_name,position,base_salary,guaranteed_compensation,mlspa_release,competition
0,0Oq6006M6D,mKAqBBmqbg,2013,D,200000.0,200000.0,2013-05-01,mls
1,0Oq6006M6D,mKAqBBmqbg,2013,D,200000.0,200000.0,2013-08-01,mls
2,0Oq6006M6D,mKAqBBmqbg,2013,D,200000.0,200000.0,2013-09-15,mls
3,0Oq60APM6D,0KPqjA456v,2013,D,205000.0,208333.0,2013-05-01,mls
4,0Oq60APM6D,0KPqjA456v,2013,D,205000.0,208333.0,2013-08-01,mls

game_info: (3895, 3)
game_id        3895
date           3895
season_name    3895
dtype: int64

      game_id        date  season_name
0  NPqxxL8Xq9  2013-03-02         2013
1  9vQ2ZGnmQK  2013-03-02         2013
2  kRQaolgj5K  2013-03-03         2013
3  KPqjK3VYQ6  2013-03-03         2013
4  aDQ0NW635E  2013-03-03         2013

team_info: (121, 4)
team_id              121
team_name            121
team_short_name      121
team_abbreviation    121
dtype: int64

      team_id          team_name team_short_name team_abbreviation
0  kRQa8JOqKZ      Angel City FC      Angel City                LA
1  wvq9jx1QWn   Atlanta United 2         Atlanta               ATL
2  KAqBN0Vqbg  Atlanta United FC         Atlanta               ATL
3  0x5gJawM7O     Austin Bold FC          Austin               ATX
4  gpMOLwl5zy          Austin FC          Austin               ATX

player_info: (6211, 7)
player_id      6211
player_name    6177
birth_date     6089
height_ft      5378
height_in      5378
nationality    6151
weight_lb      4867
dtype: int64

,player_id,player_name,birth_date,height_ft,height_in,nationality,weight_lb
0,p6qbOXVXQ0,A.J. Cochran,1993-02-09,6.0,3.0,USA,196.0
1,315VDkYQ9x,A.J. DeLaGarza,1987-11-04,5.0,9.0,USA,152.0
2,Oa5wV7E9M1,A.J. Palazzolo,1998-02-18,6.0,1.0,USA,165.0
3,wvq9eEX3qW,A.J. Paterson,1996-01-31,6.0,2.0,USA,187.0
4,4wM42Jezqj,A.J. Soares,1988-11-28,6.0,0.0,USA,172.0

* Goals Added is uniquely identified by player, season, team and position
* Confirmed that players only play on one team per season
* Need to aggregate counting stats by player/season/team

In [3]:
# Unique teams per player/season
ga_avg.groupby(["player_id", "season_name"]).team_id.nunique().sort_values(ascending=False)

player_id   season_name
0Oq60APM6D  2013           1
eVq3jBAv5W  2017           1
eVq3jBjj5W  2021           1
            2020           1
            2019           1
                          ..
KAqBwAWQbg  2017           1
            2016           1
            2015           1
KAqBw3AQbg  2021           1
zeQZzPgQKw  2022           1
Name: team_id, Length: 5525, dtype: int64

In [4]:
# Aggregate counting stats
df = ga_avg.groupby(['player_id', 'season_name', 'team_id'])[['minutes_played', 'goals_added_above_avg_Dribbling',
       'goals_added_above_avg_Fouling', 'goals_added_above_avg_Interrupting',
       'goals_added_above_avg_Passing', 'goals_added_above_avg_Receiving',
       'goals_added_above_avg_Shooting', 'count_actions_Dribbling',
       'count_actions_Fouling', 'count_actions_Interrupting',
       'count_actions_Passing', 'count_actions_Receiving',
       'count_actions_Shooting', 'offensive_goals_added']].sum().reset_index()

# add in metadata
df = pd.merge(df, player_info, on="player_id", how="left")
df = pd.merge(df, team_info, on="team_id", how="left")

# calculate per 90 stats
df["goals_added_above_avg_Dribbling_90"] = 90 * df.goals_added_above_avg_Dribbling / df.minutes_played
df["goals_added_above_avg_Fouling_90"] = 90 * df.goals_added_above_avg_Fouling / df.minutes_played
df["goals_added_above_avg_Interrupting_90"] = 90 * df.goals_added_above_avg_Interrupting / df.minutes_played
df["goals_added_above_avg_Passing_90"] = 90 * df.goals_added_above_avg_Passing / df.minutes_played
df["goals_added_above_avg_Receiving_90"] = 90 * df.goals_added_above_avg_Receiving / df.minutes_played
df["goals_added_above_avg_Shooting_90"] = 90 * df.goals_added_above_avg_Shooting / df.minutes_played
df["offensive_goals_added_90"] = 90 * df.offensive_goals_added / df.minutes_played

# calculate player season age
df["birth_date"] = pd.to_datetime(df.birth_date)
df["player_age"] = df.season_name - df.birth_date.dt.year

# calculate height in inches
df["height_in"] = df.height_ft * 12 + df.height_in
df.drop(columns=["height_ft", "birth_date"], inplace=True)

print(df.shape)
df.head()

(5525, 32)

,player_id,season_name,team_id,minutes_played,goals_added_above_avg_Dribbling,goals_added_above_avg_Fouling,goals_added_above_avg_Interrupting,goals_added_above_avg_Passing,goals_added_above_avg_Receiving,goals_added_above_avg_Shooting,count_actions_Dribbling,count_actions_Fouling,count_actions_Interrupting,count_actions_Passing,count_actions_Receiving,count_actions_Shooting,offensive_goals_added,player_name,height_in,nationality,weight_lb,team_name,team_short_name,team_abbreviation,goals_added_above_avg_Dribbling_90,goals_added_above_avg_Fouling_90,goals_added_above_avg_Interrupting_90,goals_added_above_avg_Passing_90,goals_added_above_avg_Receiving_90,goals_added_above_avg_Shooting_90,offensive_goals_added_90,player_age
0,0Oq60APM6D,2013,0KPqjA456v,1817,0.1371,0.15161,-1.1739,-0.5978,-0.4063,-0.2050,86,22,389,515,334,0,-0.92039,Jason Hernandez,71.0,USA,172.0,San Jose Earthquakes,San Jose,SJE,0.006791,0.007510,-0.058146,-0.029610,-0.020125,-0.010154,-0.045589,30.0
1,0Oq60APM6D,2014,0KPqjA456v,1868,-0.0374,-0.54960,0.0349,-0.0201,-0.3859,-0.2096,111,31,356,603,418,0,-1.20260,Jason Hernandez,71.0,USA,172.0,San Jose Earthquakes,San Jose,SJE,-0.001802,-0.026480,0.001681,-0.000968,-0.018593,-0.010099,-0.057941,31.0
2,0Oq60APM6D,2015,Vj58weDM8n,2474,-0.0264,0.17760,-1.6048,-0.0460,-0.3216,-0.1946,223,49,469,953,651,3,-0.41100,Jason Hernandez,71.0,USA,172.0,New York City FC,New York City,NYC,-0.000960,0.006461,-0.058380,-0.001673,-0.011699,-0.007079,-0.014951,32.0
3,0Oq60APM6D,2016,Vj58weDM8n,2463,-0.1575,-0.14280,0.0693,-0.1381,-0.5595,-0.2918,247,48,361,1194,819,0,-1.28970,Jason Hernandez,71.0,USA,172.0,New York City FC,New York City,NYC,-0.005755,-0.005218,0.002532,-0.005046,-0.020445,-0.010663,-0.047127,33.0
4,0Oq60APM6D,2017,kRQabn8MKZ,575,-0.0541,0.06090,-0.1101,-0.1102,-0.1446,-0.0742,33,5,84,185,109,0,-0.32220,Jason Hernandez,71.0,USA,172.0,Toronto FC,Toronto,TOR,-0.008468,0.009532,-0.017233,-0.017249,-0.022633,-0.011614,-0.050431,34.0

## Game Logs Data Preparation

Interesting features here including passing, xpassing rates, as well as passing distances

Want to calculate aggregate stats based on weighted averages for these columns

In [5]:
# Calculate counting stats
passing["completed_passes"] = passing["attempted_passes"] * passing["pass_completion_percentage"]
passing["completed_passes"] = passing.completed_passes.apply(lambda x: round(x))
passing["xcompleted_passes"] = passing["attempted_passes"] * passing["xpass_completion_percentage"]

passing["total_distance_yds"] = passing["attempted_passes"] * passing["avg_distance_yds"]
passing["total_vertical_distance_yds"] = passing["attempted_passes"] * passing["avg_vertical_distance_yds"]

# add in metadata
passing_full = pd.merge(passing, player_info, on="player_id", how="left")
passing_full = pd.merge(passing_full, team_info, on="team_id", how="left")
passing_full = pd.merge(passing_full, game_info, on="game_id", how="left")
print(passing_full.shape)
passing_full.head()

(110757, 29)

,player_id,game_id,team_id,general_position,minutes_played,attempted_passes,pass_completion_percentage,xpass_completion_percentage,passes_completed_over_expected,passes_completed_over_expected_p100,avg_distance_yds,avg_vertical_distance_yds,share_team_touches,competition,completed_passes,xcompleted_passes,total_distance_yds,total_vertical_distance_yds,player_name,birth_date,height_ft,height_in,nationality,weight_lb,team_name,team_short_name,team_abbreviation,date,season_name
0,0Oq60APM6D,0Oq6Y1ax56,Vj58weDM8n,CB,101,37,0.8649,0.8301,1.2881,3.4812,21.7536,9.4829,0.0889,mls,32,30.7137,804.8832,350.8673,Jason Hernandez,1983-08-26,5.0,11.0,USA,172.0,New York City FC,New York City,NYC,2015-09-13,2015
1,0Oq60APM6D,0Oq6YPW756,Vj58weDM8n,FB,96,54,0.7037,0.7603,-3.0555,-5.6583,23.2053,11.4738,0.1115,mls,38,41.0562,1253.0862,619.5852,Jason Hernandez,1983-08-26,5.0,11.0,USA,172.0,New York City FC,New York City,NYC,2016-07-03,2016
2,0Oq60APM6D,0x5gbdYjM7,Vj58weDM8n,FB,96,41,0.8780,0.8336,1.8213,4.4422,18.2548,2.3546,0.0748,mls,36,34.1776,748.4468,96.5386,Jason Hernandez,1983-08-26,5.0,11.0,USA,172.0,New York City FC,New York City,NYC,2016-07-30,2016
3,0Oq60APM6D,0x5gk42R57,0KPqjA456v,CB,95,60,0.8000,0.8181,-1.0877,-1.8128,26.3321,14.4037,0.1106,mls,48,49.0860,1579.9260,864.2220,Jason Hernandez,1983-08-26,5.0,11.0,USA,172.0,San Jose Earthquakes,San Jose,SJE,2014-08-25,2014
4,0Oq60APM6D,0x5gLxnPq7,0KPqjA456v,CB,95,31,0.6774,0.7482,-2.1930,-7.0742,25.1257,14.7807,0.0801,mls,21,23.1942,778.8967,458.2017,Jason Hernandez,1983-08-26,5.0,11.0,USA,172.0,San Jose Earthquakes,San Jose,SJE,2013-03-16,2013

In [6]:
# Aggregate Passing data
# "general_position": lambda x: x.mode()[0] gets the most used position by player
df2 = passing_full.groupby(["season_name", "team_id", "team_abbreviation", "player_id", 
                   "player_name"]).agg({"general_position": lambda x: x.mode()[0], "game_id": "nunique", "attempted_passes": "sum", "completed_passes": "sum", "xcompleted_passes": "sum", 
                                                                            "passes_completed_over_expected": "sum", "total_distance_yds": "sum", "total_vertical_distance_yds": "sum",
                                                                           "share_team_touches": "mean"}).reset_index()
df2.rename(columns={"general_position": "primary_position", "game_id": "games"}, inplace=True)

# Recalculate percentages from observed season stats
df2["passing_percentage"] = df2.completed_passes / df2.attempted_passes
df2["xpassing_percentage"] = df2.xcompleted_passes / df2.attempted_passes
df2["passes_completed_over_expected_p100"] = 100 * df2.passes_completed_over_expected / df2.attempted_passes 
df2["avg_distance_yds"] = df2.total_distance_yds / df2.attempted_passes
df2["avg_vertical_distance_yds"] = df2.total_vertical_distance_yds / df2.attempted_passes

df2 = df2.fillna(0)
df2

,season_name,team_id,team_abbreviation,player_id,player_name,primary_position,games,attempted_passes,completed_passes,xcompleted_passes,passes_completed_over_expected,total_distance_yds,total_vertical_distance_yds,share_team_touches,passing_percentage,xpassing_percentage,passes_completed_over_expected_p100,avg_distance_yds,avg_vertical_distance_yds
0,2013,0KPqjA456v,SJE,0Oq60APM6D,Jason Hernandez,CB,21,513,412,422.5266,-10.5225,12260.3289,5384.6294,0.064367,0.803119,0.823639,-2.051170,23.899277,10.496354
1,2013,0KPqjA456v,SJE,2vQ1LRjxqr,Jaime Alas,W,5,54,43,41.3621,1.6377,893.6098,-23.7398,0.022840,0.796296,0.765965,3.032778,16.548330,-0.439626
2,2013,0KPqjA456v,SJE,2vQ1YoKQrA,Justin Morrow,FB,26,1003,733,738.1682,-5.1723,21504.3464,9165.7961,0.084631,0.730808,0.735960,-0.515683,21.440026,9.138381
3,2013,0KPqjA456v,SJE,4wM4NZyqjB,Sam Cronin,CM,34,1577,1235,1229.2915,5.7131,35126.2398,10421.4635,0.101712,0.783133,0.779513,0.362276,22.274090,6.608411
4,2013,0KPqjA456v,SJE,9Yqdkdym5v,Rafael Baca,CM,31,1290,1078,1065.2094,12.7807,24384.8941,5220.6863,0.089400,0.835659,0.825744,0.990752,18.903019,4.047044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6174,2022,zeQZkL1MKw,MIA,p6qbokmpQ0,Jairo Quinteros,CB,4,122,105,105.3318,-0.3305,2802.5341,796.6233,0.080325,0.860656,0.863375,-0.270902,22.971591,6.529699
6175,2022,zeQZkL1MKw,MIA,raMyeneJMd,Ryan Sailor,CB,23,746,652,651.5112,0.4872,16191.1326,5179.5801,0.065226,0.873995,0.873339,0.065308,21.703931,6.943137
6176,2022,zeQZkL1MKw,MIA,xW5pKvlMg1,Gonzalo Higuan,ST,29,574,425,443.2261,-18.2204,11965.4249,-309.2607,0.047993,0.740418,0.772171,-3.174286,20.845688,-0.538782
6177,2022,zeQZkL1MKw,MIA,xW5prK4BQg,Ariel Lassiter,W,31,465,346,365.4988,-19.5016,7413.7549,-640.3039,0.037403,0.744086,0.786019,-4.193892,15.943559,-1.376998
6178,2022,zeQZkL1MKw,MIA,zeQZJX6KQK,Victor Ulloa,CM,19,209,170,175.4669,-5.4653,3410.9149,793.1346,0.022753,0.813397,0.839555,-2.614976,16.320167,3.794902

In [7]:
salaries_sub = salaries.drop(["position", "mlspa_release", "competition"], axis=1).drop_duplicates()
df3 = salaries_sub.groupby(["player_id", "team_id", "season_name"]).agg({"base_salary": "max", "guaranteed_compensation": "max"}).reset_index()
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   player_id                7256 non-null   object
 1   team_id                  7256 non-null   object
 2   season_name              7256 non-null   int64
 3   base_salary              7256 non-null   float64
 4   guaranteed_compensation  7256 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 283.6+ KB

## Merge OGA, Salary, & Game Datasets

In [8]:
full = pd.merge(df, df2, on = ["season_name", "team_id", "team_abbreviation", "player_id", "player_name"], how="left")
full = pd.merge(full, df3, on = ["season_name", "team_id", "player_id"], how="left")

# reorder columns
cols = ['season_name', 'player_id', 'player_name', 'player_age',
       'height_in', 'weight_lb', 'nationality', 'base_salary', 'guaranteed_compensation', 'team_id', 'team_name', 'team_short_name',
       'team_abbreviation', 'primary_position', 'games', 'minutes_played', 'share_team_touches',
       'attempted_passes', 'completed_passes', 'passing_percentage', 
       'xcompleted_passes', 'xpassing_percentage', 'passes_completed_over_expected_p100',
       'passes_completed_over_expected', 'total_distance_yds', 'total_vertical_distance_yds', 
       'avg_distance_yds', 'avg_vertical_distance_yds', 'count_actions_Dribbling', 'count_actions_Fouling',
       'count_actions_Interrupting', 'count_actions_Passing',
       'count_actions_Receiving', 'count_actions_Shooting',
       'goals_added_above_avg_Dribbling', 'goals_added_above_avg_Fouling',
       'goals_added_above_avg_Interrupting', 'goals_added_above_avg_Passing',
       'goals_added_above_avg_Receiving', 'goals_added_above_avg_Shooting',
       'offensive_goals_added',  'goals_added_above_avg_Dribbling_90',
       'goals_added_above_avg_Fouling_90',
       'goals_added_above_avg_Interrupting_90',
       'goals_added_above_avg_Passing_90',
       'goals_added_above_avg_Receiving_90',
       'goals_added_above_avg_Shooting_90', 'offensive_goals_added_90'
      ]

full = full.loc[:, cols]
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5525 entries, 0 to 5524
Data columns (total 48 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   season_name                            5525 non-null   int64
 1   player_id                              5525 non-null   object
 2   player_name                            5525 non-null   object
 3   player_age                             5521 non-null   float64
 4   height_in                              5440 non-null   float64
 5   weight_lb                              5375 non-null   float64
 6   nationality                            5507 non-null   object
 7   base_salary                            5457 non-null   float64
 8   guaranteed_compensation                5457 non-null   float64
 9   team_id                                5525 non-null   object
 10  team_name                              5525 non-null   object
 11  team_short_name                        5525 non-null   object
 12  team_abbreviation                      5525 non-null   object
 13  primary_position                       5525 non-null   object
 14  games                                  5525 non-null   int64
 15  minutes_played                         5525 non-null   int64
 16  share_team_touches                     5525 non-null   float64
 17  attempted_passes                       5525 non-null   int64
 18  completed_passes                       5525 non-null   int64
 19  passing_percentage                     5525 non-null   float64
 20  xcompleted_passes                      5525 non-null   float64
 21  xpassing_percentage                    5525 non-null   float64
 22  passes_completed_over_expected_p100    5525 non-null   float64
 23  passes_completed_over_expected         5525 non-null   float64
 24  total_distance_yds                     5525 non-null   float64
 25  total_vertical_distance_yds            5525 non-null   float64
 26  avg_distance_yds                       5525 non-null   float64
 27  avg_vertical_distance_yds              5525 non-null   float64
 28  count_actions_Dribbling                5525 non-null   int64
 29  count_actions_Fouling                  5525 non-null   int64
 30  count_actions_Interrupting             5525 non-null   int64
 31  count_actions_Passing                  5525 non-null   int64
 32  count_actions_Receiving                5525 non-null   int64
 33  count_actions_Shooting                 5525 non-null   int64
 34  goals_added_above_avg_Dribbling        5525 non-null   float64
 35  goals_added_above_avg_Fouling          5525 non-null   float64
 36  goals_added_above_avg_Interrupting     5525 non-null   float64
 37  goals_added_above_avg_Passing          5525 non-null   float64
 38  goals_added_above_avg_Receiving        5525 non-null   float64
 39  goals_added_above_avg_Shooting         5525 non-null   float64
 40  offensive_goals_added                  5525 non-null   float64
 41  goals_added_above_avg_Dribbling_90     5524 non-null   float64
 42  goals_added_above_avg_Fouling_90       5524 non-null   float64
 43  goals_added_above_avg_Interrupting_90  5524 non-null   float64
 44  goals_added_above_avg_Passing_90       5524 non-null   float64
 45  goals_added_above_avg_Receiving_90     5524 non-null   float64
 46  goals_added_above_avg_Shooting_90      5524 non-null   float64
 47  offensive_goals_added_90               5524 non-null   float64
dtypes: float64(29), int64(11), object(8)
memory usage: 2.0+ MB

## Null Imputation

In [9]:
# this was caused by a divide by 0 - so just make the per 90 rate 0
full.loc[:, ['goals_added_above_avg_Dribbling_90', 'goals_added_above_avg_Fouling_90', 'goals_added_above_avg_Interrupting_90',
       'goals_added_above_avg_Passing_90', 'goals_added_above_avg_Receiving_90', 'goals_added_above_avg_Shooting_90', 'offensive_goals_added_90']] = full.loc[:, ['goals_added_above_avg_Dribbling_90',
       'goals_added_above_avg_Fouling_90', 'goals_added_above_avg_Interrupting_90', 'goals_added_above_avg_Passing_90',
       'goals_added_above_avg_Receiving_90', 'goals_added_above_avg_Shooting_90', 'offensive_goals_added_90']].fillna(0)

In [10]:
# Use Average for player metadata
print(full.loc[:, ['player_age', 'height_in', 'weight_lb']].mean())
full["player_age"] = full["player_age"].fillna(26)
full["height_in"] = full["height_in"].fillna(70)
full["weight_lb"] = full["weight_lb"].fillna(165)

player_age     26.295236
height_in      70.654963
weight_lb     164.776558
dtype: float64

In [11]:
# Use median for salary due to skew
print(full.loc[:, ['base_salary', 'guaranteed_compensation']].median())
full["base_salary"] = full["base_salary"].fillna(160000)
full["guaranteed_compensation"] = full["guaranteed_compensation"].fillna(179000)

# USA is most common nationality
print()
print(full.nationality.value_counts().head(1))
full["nationality"] = full["nationality"].fillna("USA")

base_salary                160000.0
guaranteed_compensation    179000.0
dtype: float64

nationality
USA    2355
Name: count, dtype: int64

In [12]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5525 entries, 0 to 5524
Data columns (total 48 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   season_name                            5525 non-null   int64
 1   player_id                              5525 non-null   object
 2   player_name                            5525 non-null   object
 3   player_age                             5525 non-null   float64
 4   height_in                              5525 non-null   float64
 5   weight_lb                              5525 non-null   float64
 6   nationality                            5525 non-null   object
 7   base_salary                            5525 non-null   float64
 8   guaranteed_compensation                5525 non-null   float64
 9   team_id                                5525 non-null   object
 10  team_name                              5525 non-null   object
 11  team_short_name                        5525 non-null   object
 12  team_abbreviation                      5525 non-null   object
 13  primary_position                       5525 non-null   object
 14  games                                  5525 non-null   int64
 15  minutes_played                         5525 non-null   int64
 16  share_team_touches                     5525 non-null   float64
 17  attempted_passes                       5525 non-null   int64
 18  completed_passes                       5525 non-null   int64
 19  passing_percentage                     5525 non-null   float64
 20  xcompleted_passes                      5525 non-null   float64
 21  xpassing_percentage                    5525 non-null   float64
 22  passes_completed_over_expected_p100    5525 non-null   float64
 23  passes_completed_over_expected         5525 non-null   float64
 24  total_distance_yds                     5525 non-null   float64
 25  total_vertical_distance_yds            5525 non-null   float64
 26  avg_distance_yds                       5525 non-null   float64
 27  avg_vertical_distance_yds              5525 non-null   float64
 28  count_actions_Dribbling                5525 non-null   int64
 29  count_actions_Fouling                  5525 non-null   int64
 30  count_actions_Interrupting             5525 non-null   int64
 31  count_actions_Passing                  5525 non-null   int64
 32  count_actions_Receiving                5525 non-null   int64
 33  count_actions_Shooting                 5525 non-null   int64
 34  goals_added_above_avg_Dribbling        5525 non-null   float64
 35  goals_added_above_avg_Fouling          5525 non-null   float64
 36  goals_added_above_avg_Interrupting     5525 non-null   float64
 37  goals_added_above_avg_Passing          5525 non-null   float64
 38  goals_added_above_avg_Receiving        5525 non-null   float64
 39  goals_added_above_avg_Shooting         5525 non-null   float64
 40  offensive_goals_added                  5525 non-null   float64
 41  goals_added_above_avg_Dribbling_90     5525 non-null   float64
 42  goals_added_above_avg_Fouling_90       5525 non-null   float64
 43  goals_added_above_avg_Interrupting_90  5525 non-null   float64
 44  goals_added_above_avg_Passing_90       5525 non-null   float64
 45  goals_added_above_avg_Receiving_90     5525 non-null   float64
 46  goals_added_above_avg_Shooting_90      5525 non-null   float64
 47  offensive_goals_added_90               5525 non-null   float64
dtypes: float64(29), int64(11), object(8)
memory usage: 2.0+ MB

## Sanity Check

In [13]:
full.loc[full.season_name == 2022, ["season_name", "player_name",  "minutes_played", "passing_percentage", "xpassing_percentage", "goals_added_above_avg_Passing"]]\
.sort_values("goals_added_above_avg_Passing", ascending=False).head(10)

,season_name,player_name,minutes_played,passing_percentage,xpassing_percentage,goals_added_above_avg_Passing
5129,2022,Carles Gil,3181,0.773444,0.769692,2.6578
2453,2022,Carlos Vela,2800,0.721732,0.715336,2.4324
3497,2022,Sebastin Blanco,2010,0.669238,0.687778,2.1001
1990,2022,Maximiliano Morlez,2558,0.785568,0.774122,1.9921
1828,2022,Darwin Quintero,1938,0.696352,0.704078,1.9803
2719,2022,Thiago Almada,2622,0.823775,0.804657,1.8807
3647,2022,Pedro Santos,2570,0.744171,0.755544,1.8401
2003,2022,Alejandro Bedoya,2726,0.738646,0.728664,1.7662
1773,2022,Mauricio Pereyra,2824,0.791593,0.766549,1.7009
2494,2022,Jos Cifuentes,2900,0.781513,0.777970,1.6641

In [14]:
# Lorenzo Insigne - former Napoli teammate and North Macedonia captain Goran Pandev has referred to him as the "Italian Messi"
full.loc[:, ["season_name", "player_name", "guaranteed_compensation", "minutes_played", "offensive_goals_added", "offensive_goals_added_90"]].sort_values(by="guaranteed_compensation", ascending=False).head(10)

,season_name,player_name,guaranteed_compensation,minutes_played,offensive_goals_added,offensive_goals_added_90
2385,2022,Lorenzo Insigne,14000000.0,1018,1.2175,0.107638
5143,2022,Xherdan Shaqiri,8153000.0,2456,0.4097,0.015013
3555,2022,Chicharito,7443750.0,3004,2.1750,0.065163
4165,2019,Zlatan Ibrahimovic,7200000.0,3055,10.0876,0.297180
830,2015,Kak,7167500.0,2614,0.3022,0.010405
831,2016,Kak,7167500.0,2114,3.1971,0.136111
832,2017,Kak,7167500.0,1698,-0.5182,-0.027466
4773,2018,Sebastian Giovinco,7115560.0,2591,3.7287,0.129519
4772,2017,Sebastian Giovinco,7115560.0,2597,1.5162,0.052544
4771,2016,Sebastian Giovinco,7115560.0,3189,7.8437,0.221365

In [15]:
full.loc[:, ["season_name", "guaranteed_compensation", "minutes_played", "offensive_goals_added", "offensive_goals_added_90"]].corr()

,season_name,guaranteed_compensation,minutes_played,offensive_goals_added,offensive_goals_added_90
season_name,1.000000,0.147833,-0.042805,-0.013138,-0.014203
guaranteed_compensation,0.147833,1.000000,0.236961,0.312081,0.143546
minutes_played,-0.042805,0.236961,1.000000,0.205110,0.180609
offensive_goals_added,-0.013138,0.312081,0.205110,1.000000,0.436526
offensive_goals_added_90,-0.014203,0.143546,0.180609,0.436526,1.000000

In [16]:
# export
full.to_csv("output/data/merged_soccer_data.csv", index=False)